<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
</head>
<body>
<section>
<% if (documents.length > 0) { %>
    <% for(var i = 0; i < documents.length; i++) { %>
    <ul class="foldersUl">
        <a href="" >
            <li class="documents"><%= documents[i].title %></li>
        </a>   
    </ul>
    <% } %>
<% } %>
</section>
<section><a href="/my-notes"><button class="btn btn-default footer" >Create Folder</button></a></section>

<script src="main.js"></script>
</body>
</html>